<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.tees.aad.w19583132">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="uk.ac.tees.aad.studentnumber.w19583132.HomePage"
            android:configChanges="orientation"
            >
        </activity>
        <activity android:name="uk.ac.tees.aad.studentnumber.w19583132.LocateMe" />
        <activity android:name="uk.ac.tees.aad.studentnumber.w19583132.OrderHistory"/>
        <activity android:name="uk.ac.tees.aad.studentnumber.w19583132.SignUp" />
        <activity
            android:name="uk.ac.tees.aad.studentnumber.w19583132.menuPage"
            android:exported="false" />
        <activity
            android:name="uk.ac.tees.aad.studentnumber.w19583132.adminTableView"
            android:exported="false" />
        <activity
            android:name="uk.ac.tees.aad.studentnumber.w19583132.tablesPage"
            android:exported="false" />
        <activity
            android:name="uk.ac.tees.aad.studentnumber.w19583132.showOrders"
            android:exported="false" />
        <activity
            android:name="uk.ac.tees.aad.studentnumber.w19583132.adminPage"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="uk.ac.tees.aad.studentnumber.w19583132.Login"
            android:exported="false" />
        <activity
            android:name="uk.ac.tees.aad.studentnumber.w19583132.userpage"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="uk.ac.tees.aad.studentnumber.w19583132.splashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCWZo3plId8QaaWFQdcoijTpft-lYhqUb8" />

    </application>

</manifest>